<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about kufi">
    <article>
        <h1 class="title">رسالة المعهد</h1>
        <p>أفضل معهد عربي إلكتروني يختص في التعليم السياسي للشباب وبمنهجية رائدة
        </p>
    </article>

    <p class="d-divider"></p>


    <article>
        <h1 class="title">رؤية المعهد</h1>
        <p>تقديم تدريب سياسي محترف (أكاديمي ومهاري) لـ 300 طالب وطالبة سنويا، ويتخرج 10% منهم على الأقل يتمتعون بالصفات التالية:
        </p>
        <ul>
            <li>الإحاطة بالفكر السياسي</li>
            <li>القدرة على التمييز و المقارنة بين الأنظمة السياسية</li>
            <li>فهم السياسات الدولية ونظرياتها</li>
            <li>التمكن من قواعد الممارسة السياسية</li>
            <li>التدرب على أساسيات المهارات السياسية</li>
            <li>المنهجية العلمية في التحليل السياسي</li>
            <li>بناء شبكة علاقات مع الشباب الناشطين والفاعلين في العالم العربي والإسلامي</li>
        </ul>
    </article>
    <p class="d-divider"></p>
</section>
