<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">نظام الدراسة</%block>

<section class="container about kufi">
    <h1>نظام الدراسة</h1>
    <p></p>
    <div>
        &nbsp;
        <h1 class="title">الشؤون الأكاديمية</h1>
        &nbsp;
        <h2>نظام الدراسة</h2>
        <ul>
            <li>
                <span>الدراسة بنظام التعليم عن بعد.</span>
            </li>
            <li>
                <span>يشترط الحصول على تقدير "C-" لاجتياز المقرر.</span>
            </li>
            <li>
                <span>يشترط الحصول على تقدير "B" للتخرج من المعهد.</span>
            </li>
        </ul>

        <p class="d-divider"></p>
        <h2>محتوى المقرر</h2>
        <ul>
            <li>
                <span>محاضرات مسجلة.</span>
            </li>
            <li>
                <span>أسماء مراجع مقترحة.</span>
            </li>
            <li>
                <span>مصادر تعليمية إضافية.</span>
            </li>
            <li>
                <span>لقاء مباشر (حسب الترتيبات).</span>
            </li>
            <li>
                <span>أنشطة القياس والتقويم.</span>
            </li>
            <li>
                <span>مقاطع من أفلام وثائقية</span>
            </li>
            <li>
                <span>الألعاب السياسية في بعض المقرارات</span>
            </li>
        </ul>
        
        &nbsp;
        <p class="d-divider"></p>
        <h2>العبء الدراسي</h2>
        <ul>
            <li>
                <span>العبء الدراسي الأقصى لكل فصل دراسي هو 5 مقرارات دراسية.</span>
            </li>
            <li>
                <span>الحد الأدنى للعبء الدراسي في الفصل هو مقرر واحد.</span>
            </li>
            
        </ul>
        
        <p class="d-divider"></p>
        <h2>التوقف عن الدراسة</h2>
        <ul>
            <li>
                <span>يمكن للطالب أن يتوقف عن الدراسة لفصل واحد أو أكثر.</span>
            </li>
           
        </ul>
       
        &nbsp;
        <p class="d-divider"></p>

        <h2>المنهج</h2>
        <ul>
            <li>
                <span>يكون التدريب بنظام المقررات</span>
            </li>
            <li>
                <span>التدريب متوفر عن طريق الموقع الإلكتروني على الإنترنت.</span>
            </li>
            <li>
                <span>عدد الوحدات المطلوبة للتخرج (75) وحدة أو (15) مقررا.</span>
            </li>
        </ul>
        
        &nbsp;
        <p class="d-divider"></p>

        <h2>مدة الدراسة</h2>
        <ul>
            <li>
                يتكون العام الدراسي من ثلاثة فصول دراسية.
            </li>
            <li>
                المدة المقررة للتخرج من المعهد 6 فصول دراسية.
            </li>
        </ul>
        
        &nbsp;
        <p class="d-divider"></p>

        <h2>مواعيد الفصول الدراسية</h2>
        <ul>
            <li>

               الفصل الدراسي الأول في السبت الأول من يناير، و الفصل الدراسي الثاني في السبت الأول من مايو، و الفصل الدراسي الثالث في السبت الأول من سبتمر من كل عام
            </li>
           
        </ul>
       
        
        &nbsp;
        <p class="d-divider"></p>

        <h2>الإنسحاب من المقرر أو تأجيل الفصل الدراسي</h2>
        <ul>
            <li>
                <span>يجوز للطالب إلغاء تسجيله لأي مقرر أو لكل المقررات واسترداد أمواله قبل بدء الفصل الدراسي، أما إذا بدأت الدراسة فيجوز له - خلال ثلاثة أسابيع فقط - أن يبدل المواد التي سجل بها بمواد أخرى في ذلك الفصل أو يؤجلها لفصل قادم، لكن بعد مرور ثلاثة أسابيع من بدء الفصل الدراسي يعتبر تسجيل الطالب في ذلك الفصل نهائيا غير قابل للاسترداد أو التبديل</span>
            </li>
            
        </ul>
       
        &nbsp;
        <p class="d-divider"></p>

        <h1 class="title">الشؤون المالية</h1>
        &nbsp;
        <h2>الرسوم الدراسية</h2>
        <p>رسوم كل مقرر هي $50 دولار أمريكي وعلى الطالب دراسة جميع المقررات للتخرج
        </p>

        &nbsp;
        <h2>الرسوم تشمل</h2>

        <ul>
            <li>
                <span>المحاضرات المسجلة</span>
            </li>
            <li>
                <span>أنشطة القياس والتقويم</span>
            </li>
            <li>
                <span>حضور اللقاءات المباشرة مع الضيوف</span>
            </li>
            <li>
                <span>شهادة التخرج الصادرة من المعهد</span>
            </li>
        </ul>
        &nbsp;
        <h2>الرسوم لا تشمل</h2>
        <ul>
            <li>
                <span>مصاريف الكتب والمراجع المقترحة ولا مصاريف شحنها ، ويقوم الطالب بتوفيرها سواءً بشرائها من دور النشر أو استعارتها</span>
            </li>
            <li>
                <span>رسوم تأجيل المقررات بعد فترة السماح المحددة ( 21 ) يوماً من بداية الفصل الدراسي</span>
            </li>
            <li>
                <span>مصاريف الاشتراك في الرحلات الخارجية حال رغبته في المشاركة</span>
            </li>
            <li>
                <span>رسوم إعتماد الشهادة من جهات أخرى</span>
            </li>
            <li>
                <span>مصاريف أخرى لم يتم ذكرها في الأمور المشمولة</span>
            </li>
        </ul>
        &nbsp;
        <h2>رسوم إلغاء المقررأو تأجيله</h2>
        <ul>
            <li>
                <span>يستطيع أن ينسحب الطالب من المقرر أو يؤجله خلال 21 يوماً من بداية الدراسة دون ترتب أي رسوم مالية إضافية. وفي حال الانسحاب أو التأجيل بعد اجتياز المدة المقررة ( 21 يوماً ) فسيطلب من الطالب تسديد رسوم المقررات مرة أخرى عند التسجيل لها</span>
            </li>
        </ul>
        &nbsp;
        <h2>الانسحاب من الدراسة</h2>
        <p>&nbsp;الرسوم الدراسية المدفوعة غير مستردة بأي حال من الأحوال
        </p>

        <p class="d-divider"></p>
            
    </div>
</section>
