<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">نظام الدراسة</%block>

<section class="container about kufi">
    <h1>نظام الدراسة</h1>
    <p></p>
    <div>
        &nbsp;
        <h1 class="title">الشؤون الأكاديمية</h1>
        &nbsp;
        <h2>نظام الدراسة</h2>
        <ul>
            <li>
                <span>الدراسة بنظام التعليم عن بعد.</span>
            </li>
            <li>
                <span>يشترط الحصول على تقدير "C-" لاجتياز المقرر.</span>
            </li>
            <li>
                <span>يشترط الحصول على تقدير "B" للتخرج من المعهد.</span>
            </li>
        </ul>

        <p class="d-divider"></p>
        <h2>محتوى المقرر</h2>
        <ul>
            <li>
                <span>محاضرات مسجلة.</span>
            </li>
            <li>
                <span>أسماء مراجع مقترحة.</span>
            </li>
            <li>
                <span>مصادر تعليمية إضافية.</span>
            </li>
            <li>
                <span>لقاء مباشر (حسب الترتيبات).</span>
            </li>
            <li>
                <span>أنشطة القياس والتقويم.</span>
            </li>
            <li>
                <span>مقاطع من أفلام وثائقية</span>
            </li>
            <li>
                <span>الألعاب السياسية في بعض المقرارات</span>
            </li>
        </ul>
        
        &nbsp;
        <p class="d-divider"></p>

    

        <h2>الإنسحاب من المقرر أو تأجيل الفصل الدراسي</h2>
        <ul>
            <li>
                <span>يجوز للطالب إلغاء تسجيله لأي مقرر أو لكل المقررات واسترداد أمواله قبل بدء الفصل الدراسي، أما إذا بدأت الدراسة فيجوز له - خلال ثلاثة أسابيع فقط - أن يبدل المواد التي سجل بها بمواد أخرى في ذلك الفصل أو يؤجلها لفصل قادم، لكن بعد مرور ثلاثة أسابيع من بدء الفصل الدراسي يعتبر تسجيل الطالب في ذلك الفصل نهائيا غير قابل للاسترداد أو التبديل</span>
            </li>
            
        </ul>
       
        &nbsp;
        <p class="d-divider"></p>

        <h1 class="title">الشؤون المالية</h1>
        &nbsp;
        <h2>الرسوم الدراسية</h2>
        <p>رسوم كل مقرر هي $50 دولار أمريكي وعلى الطالب دراسة جميع المقررات للتخرج
        </p>

        &nbsp;
        <h2>الرسوم تشمل</h2>

        <ul>
            <li>
                <span>المحاضرات المسجلة</span>
            </li>
            <li>
                <span>أنشطة القياس والتقويم</span>
            </li>
            <li>
                <span>حضور اللقاءات المباشرة مع الضيوف</span>
            </li>
            <li>
                <span>شهادة التخرج الصادرة من المعهد</span>
            </li>
        </ul>
        &nbsp;


        <p class="d-divider"></p>
            
    </div>
</section>
