<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
    <article>
        <h1 class="title">للتواصل معنا</h1>
        <p><i class="icon-4x icon-facebook"></i> <span class="kufi"> فيس بوك: </span><a target="blank" href="https://facebook.com/syasi.ipt"><em dir="ltr">/syasi.ipt</em></a> </p>
        <p><i class="icon-4x icon-twitter"></i><span class="kufi"> تويتر: </span><a target="blank" href="https://twitter.com/Syasi_IPT"><em dir="ltr">@Syasi_IPT</em></a></p>
        <p><i class="icon-4x icon-envelope"></i> <span class="kufi"> بريد إلكتروني: </span> <a target="blank" href="mailto:info@syasi.org"><em dir="ltr">info@syasi.org</em></a></p>
    </article>
</section>
