<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("staff")}</%block>


<section class="container about kufi">
    <h1>طاقم التدريس</h1>
    <p></p>
    <div>
        &nbsp;
        <h1 class="title">المحـــاضرون بمعهد سياسي</h1>
        &nbsp;
        <h1>د. غانم النجار</h1>
        <ul>
            <li>
                <span>أستاذ العلوم السياسية بجامعة الكويت</span>
            </li>
            <li>
                <span>أستاذ &nbsp;زائر بجامعة هارفارد بين عامي 1999 و2002</span>
            </li>
            <li>
                <span>عضو اللجنة الدستورية لمنظمة العفو الدولية بين عامي 1987 و 1990.</span>
            </li>
            <li>
                <span>ممثل الأمين العام للأمم المتحدة كوفي أنان لشؤون حقوق الإنسان في الصومال</span>
            </li>
            <li>
                <span>مؤسس ومدير مركز الدراسات الإستراتيجية والمستقبلية بجامعة الكويت (1999-2003</span>
            </li>
            <li>
                <span>عضو الجمعية البريطانية لدراسات الشرق الأوسط</span>
            </li>
            <li>
                <span>مفوض دولي في اللجنة الدولية للحقوقيين- جنيف</span>
            </li>
            <li>
                <span>كبير باحثين غير مقيم في مؤسسة كارنيجي للسلام الدولي في واشنطن</span>
            </li>
        </ul>
        <h2>
            <em>خصصت كلية الاقتصاد والعلوم السياسية بجامعة القاهرة جائزة باسمه تمنح للطلبة المتفوقين في حقوق الإنسان عام 2006</em>
        </h2>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرة " حقوق الإنسان "</span>
        </h2>
        <h2></h2>

        <p class="d-divider"></p>
        <h1>د. جاسم سلطان</h1>
        <ul>
            <li>
                <span>رئيس مجلس إدارة بيت الخبرة للتدريب والتطوير</span>
            </li>
            <li>
                <span>رئيس مجلس إدارة مركز تنمية الدراسات والإستشارات التنموية</span>
            </li>
            <li>
                <span>خبير فى التخطيط الإستراتيجى والإدارة الإستراتيجية</span>
            </li>
            <li>
                <span>اشرف على التخطيط الإستراتيجى وتدريب الكوادر لعدة مؤسسات حكومية وغير حكومية فى أكثر &nbsp;من بلد عربى</span>
            </li>
            <li>
                <span>صاحب سلسلة مؤلفات " أدوات القادة "</span>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرة " قواعد الممارسة السياسية "</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>
        <h1>د.عبدالله شحاته</h1>
        <ul>
            <li>
                <span>أستاذ مساعد فى الدراسات المالية – كلية الاقتصاد و العلوم السياسية – جامعة القاهرة.</span>
            </li>
            <li>
                <span>خبير سابق فى صندوق النقد الدولى.</span>
            </li>
            <li>
                <span>باحث اقتصادى بالمركز المصرى للدراسات الاقتصادية.</span>
            </li>
            <li>
                <span>عمل مستشاراً بوزارات المالية و التنمية المحلية و التخطيط.</span>
            </li>
            <li>
                <span>مستشار مالى بالحكومة الكويتية قبل ثورة 25 يناير.</span>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم &nbsp;لمعهد سياسى &nbsp;محاضرة " مدخل علم الأقتصاد "</span>
        </h2>
        <h2></h2>
        <p class="d-divider"></p>
        <h1>د.محمد صفار</h1>
        <ul>
            <li>
                <span>دكتوراه فى العلوم السياسية</span>
            </li>
            <li>
                <span>استاذ مساعد النظرية السياسية</span>
            </li>
            <li>
                <span>كلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
            </li>
            <li>
                <span>استاذ &nbsp;زائر العلوم السياسية الجامعة الامريكية بالقاهرة</span>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرة " مدخل علم السياسة "</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>

        <h1>د. محمد الشنقيطى</h1>
        <ul>
            <li>
                <span>أستاذ محاضر بكلية قطر للدراسات الإسلامية – الدوحة</span>
            </li>
            <li>
                <span>حاصل على ماجيستير فى ادارة الأعمال – جامعة كولومبيا</span>
            </li>
            <li>
                <span>حاصل على دكتوراه فى ( تاريخ الأديان ) من جامعة تكساس – الولايات المتحدة الأمريكية</span>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم &nbsp;لمعهد سياسى محاضرة " منهجية التعامل مع التراث السياسى الإسلامى "</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>

        <h1>د. رشيد الجرموني:</h1>
        <ul>
            <li>
                د. رشيد جرموني (دكتوراه في علم الاجتماع) باحث في سوسيولوجيا التربية،
            </li>
            <li>
                عضو لجنة تحكيم مجلة "عالم التربية" كاتب ومتخصص في قضايا المدرسة المغربية.
            </li>
            <li>
                يشتغل كأستاذ لعلم الاجتماع، بكلية الآداب والعلوم الانسانية بمكناس.
            </li>
            <li>
                يعمل منسق أعمال المركز المغربي للدراسات والأبحاث المعاصرة،
            </li>
            <li>
                مهتم بقضايا الشباب والقيم والتدين، له دراسة تحت الطبع بعنوان “الشباب وتحولات القيم في المغرب المعاصر”. كما أشرف على إنجاز دراسة وطنية حول “الشباب والتدين”،
            </li>
            <li>
                ساهم في إنجاز تقرير الحالة الدينية بالمغرب لسنوات: 2007/2008 و2009/2010. وله أيضا العديد من المقالات العلمية المحكمة في المغرب وخارجه.
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرة " مدخل إلى علم الاجتماع"</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>


        <h1>أحمد الكاتب:</h1>
        <ul>
            <li>
                مفكر شيعي إصلاحي
            </li>

            <h3>
                <span style="text-decoration: underline;">مفكر شيعي إصلاحي:</span>
            </h3>
            <li>
                تطور الفكر السياسي الشيعي: من الشورى إلى ولاية الفقيه
            </li>
            <li>
                 تطور الفكر السياسي السني نحو خلافة ديمقراطية
            </li>
            <li>
                الفكر السياسي الوهابي: قراءة تحليلية 
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرات "  مدخل إلى الفكر السياسي الإسلامي2"</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>

        <h1>د. هبــة رؤوف</h1>
        <ul>
            <li>

                بكالوريوس العلوم السياسية تقدير ممتاز مع مرتبة الشرف – جامعة القاهرة – مايو 1987.
            </li>
            <li>

                ماجستير العلوم السياسية بتقدير امتياز مع مرتبة الشرف – جامعة القاهرة – ديسمبر 1992م.
            </li>
            <li>

                الدكتوراه بتقدير امتياز مع مرتبة الشرف فى موضوع : “المواطنة دراسة تطور المفهوم في الفكر الليبرالي”.
            </li>
            <li>

                باحث زائر بمركز دراسات الديمقراطية بجامعة وستمنستر – لندن – سبتمبر 1995م إلى سبتمبر 1996م.
            </li>
            <li>

                باحث زائر بمركز أوكسفورد للدراسات الإسلامية يناير 1998م إلى أغسطس 1998م.
            </li>
            <li>

                محاضر زائر بالجامعة الأمريكية بالقاهرة
            </li>
            <li>

                باحث/ بالمعهد العالمي للفكر الإسلامي بواشنطن (فرع القاهرة)
            </li>
            <li>

                باحث مشارك بموسوعة العلوم السياسية/ جامعة الكويت (الصادرة 1995) بخمسة مداخل حول الفكر الإسلامي.
            </li>
            <li>

                باحث مشارك في العديد من الكتب المتخصصة والمجلات والدوريات بالعربية والإنجليزية
            </li>
            <li>

                عملت كمحاضرة نظريات العلوم السياسية، كلية الاقتصاد والعلوم السياسية، جامعة القاهرة، 1987-الآن
            </li>
            <li>

                عملت كمحاضرة &nbsp;نظريات العلوم السياسية والفكر والسياسة الإسلامية، قسم العلوم السياسية، الجامعة الأمريكية بالقاهرة، 2006-الآن
            </li>
            <li>

                عملت كباحثة زائرة بمركز دراسة الديمقراطية، جامعة ويستمنستر، 1995-1996
            </li>
        </ul>
        <h3>
            <span style="text-decoration: underline;">المراكز و العضويات الشرفية:</span>
        </h3>
        <ul>
            <li>
                <h2>عملت كمنسقة برنامج المجتمع المدني للبحث والتدريب ومنسقة العلاقات الخارجية، مركز البحث والدراسات السياسية، جامعة القاهرة، 2002 حتى الآن</h2>
            </li>
            <li>
                <h2>عملت كمنسقة علاقات خارجية والبرنامج الأكاديمي لبرنامج الحوار بين الثقافات، كلية الإقتصاد والعلوم السياسية، جامعة القاهرة، 2002 حتى الآن</h2>
            </li>
            <li>
                <h2>عضوة مجلس المئة قائد للتفاهم بين الإسلام والغرب، ومؤسسة القادة المسلمين، الإجتماع الإقتصادي العالمي السنوي بدافوس، 2003-2006</h2>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدمت لمعهد سياسى محاضرة " مدخل إلى الفكر السياسي الغربي"</span>
        </h2>
        <h2>
            <span style="text-decoration: underline;">قدمت لمعهد سياسى محاضرة " مدخل إلى الفكر السياسي الغربي" و " كما قدمت للمعهد محاضرة مدخل إلى الفكر السياسي الإسلامي1"</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>

        <h1>د. عماد شاهين :</h1>
        <ul>
            <li>
                <span>د. عماد الدين شاهين أستاذ السياسة العامة في كلية الشؤون الدولية والسياسات العامة (GAPP) بالجامعة الأمريكية في القاهرة(AUC).</span>
            </li>
            <li>
                <span>تشمل اهتماماته الاكاديمية والبحثية مجالات السياسة المقارنة والسياسات العامة، والشريعة والسياسة، والديمقراطية والإصلاح السياسي في المجتمعات الإسلامية.</span>
            </li>
            <li>
                <span>قبل أن ينضم مرة أخرى إلى هيئة التدريس بالجامعة الأمريكية بالقاهرة في يوليو 2012 ، شغل الدكتور شاهين منصب استاذ كرسي الاديان والصراع وبناء السلام بجامعة نوتردام بالولايات المتحدة الامريكية من عام 2009 الى عام 2012 ، وأستاذ زائر بجامعة هارفارد من عام 2006 الى 2009 بكل من قسم السياسة (Government Department) ومدرسة كيندي للدراسات الحكومية (Kennedy School of Government) . وأستاذ زائر في برنامج الدراسات القانونية الإسلامية في كلية الحقوق (Law School) بجامعة هارفارد سنة 2006-2007.</span>
            </li>
            <li>
                <span>تشمل مؤلفاته كتاب "الصعود السياسي: الحركات الإسلامية المعاصرة في شمال أفريقيا" و" شارك في تحرير كتاب من "النضال من أجل الديمقراطية في الشرق الأوسط وشمال أفريقيا"، وشارك في تأليف "الإسلام والديمقراطية"، التي نشر باللغة العربية. وهو المحرر الرئيسي ل"موسوعة أكسفورد للإسلام والسياسة" ومحرر مشارك في "دليل أكسفورد للإسلام والسياسة"".</span>
            </li>
        </ul>
        <h2>
            <span style="text-decoration: underline;">قدم لمعهد سياسى محاضرة " مقدمة في السياسات العامة"</span>
        </h2>
        &nbsp;
        <p class="d-divider"></p>

        <h1 class="title">المعيدون بمعهد سياسى</h1>
        &nbsp;
        <h2>عماد الدين حمدي:</h2>
        <p>&nbsp; معيد مقرري
            <strong>قواعد الممارسة السياسية</strong>و
            <strong>مقدمة في السياسات العامة</strong>
        </p>
        <ul>
            <li>
                <span>تخرج &nbsp;من كلية السياسة والإقتصاد</span>
            </li>
            <li>
                <span>يعمل مدير &nbsp;إدارة البحوث والعلوم بمركز القاهرة للدراسات التركية</span>
            </li>
            <li>
                <span>باحث بالمركز المصري للبحوث والدراسات</span>
            </li>
            <li>
                <span>عمل ناشطا ومستشارا لعدة احزاب وحملات إنتخابية لمدة 10 سنوات</span>
            </li>
        </ul>

        &nbsp;
        <h2>محمد عفان:</h2>

        <p>معيد مقرري
            <strong>مقدمة في الفكر السياسي الغربي</strong>و
            <strong>&nbsp;منهجية التعامل مع التراث السياسى الإسلامى</strong>
        </p>
        <ul>
            <li>
                <span>مدرس مساعد بقسم الهستولوجيا - كلية الطب جامعة عين شمس</span>
            </li>
            <li>
                <span>حاصل على بكالريوس الطب والجراحة – كلية الطب جامعة عين شمس 2003</span>
            </li>
            <li>
                <span>حاصل على ماجستير علم الأنسجة والخلايا – كلية الطب جامعة عين شمس 2010</span>
            </li>
            <li>
                <span>دبلوم المجتمع المدني وحقوق الإنسان – كلية الاقتصاد والعلوم السياسية جامعة القاهرة 2010</span>
            </li>
            <li>
                <span>دبلوم الدراسات والبحوث السياسية – معهد البحوث والدراسات العربية جامعة الدول العربية 2012</span>
            </li>
            <li>
                <span>دبلوم الدراسات الإسلامية – المعهد العالي للدراسات الإسلامية 2012</span>
            </li>
            <li>
                <span>ماجستير في &nbsp;السياسة المقارنة، من &nbsp;الجامعة الأميركية في القاهرة فى الفترة من 2012 - 2014</span>
            </li>
        </ul>
        &nbsp;

        <h2 id="arshad">أرشد فاروق:</h2>
        <p>معيد مقرر
            <strong>مقدمة في العلاقات الدولية</strong> <i> دفعة مايو 2015</i>
        </p>
        <ul>
            <li>
                <span>المدير تنفيذى لمؤسسة الصداقة المصرية الأفريقية.</span>
            </li>
            <li>
                <span>باحث بوحدة المعلومات والعلاقات الخارجية لمؤسسة الصداقة المصرية الأفريقية.</span>
            </li>
            <li>
                <span>باحث دكتوراه فى الدراسات الأفريقية - فى التاريخ السياسي والعلاقات الدولية.</span>
            </li>
            <li>
                <span>حاصل على ماجستير فى الدراسات الأفريقية - &nbsp;التاريخ السياسي والعلاقات الدولية بعنوان ( إسرائيل والبحر الأحمر 1948 - 1982).</span>
            </li>
        </ul>
        &nbsp;
        <h2>باسم زكريا السمرجي:</h2>
        <p>معيد مقرر
            <strong>"مدخل إلى حقوق الإنسان"</strong>
        </p>
        <ul>
            <li>
                <span>حاصل على بكالريوس الهندسة – جامعة عين شمس 2009.</span>
            </li>
            <li>
                <span>ماجستير العلوم السياسية بالجامعة الأمريكية بالقاهرة من 2012 – الآن.</span>
            </li>
            <li>
                <span>ناشط في عدد من المبادرات المجتمعية: علشانك يا بلدي 2008 ، مبادرة نماء للتنمية 2009-2011 ، التيار الرئيسي المصري 2011.</span>
            </li>
            <li>
                <span>معيد ومساعد باحث بقسم العلوم السياسية بالجامعة الأمريكية بالقاهرة.</span>
            </li>
            <li>
                <span>باحث بمركز القاهرة لدراسات حقوق الإنسان.</span>
            </li>
            <li>
                <span>كاتب مقالات غير دوري ببعض الصحف المصرية مثل صحيفة الشروق وEgypt Independent.</span>
            </li>
        </ul>
        &nbsp;
        <h2>طلال المطر:</h2>
        <p>معيد مقرر
            <strong>"مدخل إلى الفكر السياسي الإسلامي 2"</strong>
        </p>
        <ul>
            <li>
                <span>حاصل على شهادة البكالوريوس من جامعة الكويت-كلية العلوم الاجتماعية - تخصص علوم سياسية 2010.</span>
            </li>
            <li>
                <span>مؤسس والمدير التنفيذي لمعهد سياسي للتدريب السياسي الإلكتروني.</span>
            </li>
            <li>
                <span>ناشط في عدد من المبادرات للتوعية السياسية مثل الصالون السياسي وقناة صاحي على اليوتيوب.</span>
            </li>
            <li>
                <span>مؤسس والمدير التنفيذي لمعهد سياسي للتدريب السياسي الإلكتروني.</span>
            </li>
            <li>
                <span>مساعد باحث وكاتب مقالات سياسية غير دوري.</span>
            </li>
        </ul>
        &nbsp;
        <h2>أحمد عبد الجواد زايدة:</h2>
        <p>معيد مقرر
            <strong>"مدخل إلى الفكر السياسي الإسلامي 1"</strong>
        </p>
        <ul>
            <li>
                <span>درجة الإجازة العالية (الليسانس) كلية الشريعة والقانون- شعبة اللغة الإنجليزية-جامعة الأزهر.</span>
            </li>
            <li>
                <span>طالب ماجستير- قسم السياسة الشرعية في موضوع مقارنة تراث السياسة الشرعية بالنظريات السياسية الحديثة -كلية الحقوق- جامعة الأسكندرية.</span>
            </li>
            <li>
                <span>محرر سلسلة الفقه الاستراتيجي التي تصدر عن الشبكة العربية للأبحاث والنشر بالتعاون مع منتدى الفقه الاستراتيجي.</span>
            </li>
        </ul>
        &nbsp;
        <h2>سمر السعدنى:</h2>
        <p>&nbsp;معيدة مقرر
            <strong>علم الاجتماع</strong>
        </p>
        <ul>
            <li>
                <span>ماجستير في &nbsp;علم الاجتماع والأنثروبولوجيا، من &nbsp;الجامعة الأميركية في القاهرة فى الفترة من 2013 - 2015</span>
            </li>
            <li>
                <span>وحاصلة على بكاليريوس إدارة الأعمال من كلية التجارة جامعة القاهرة فى الفترة ما بين 2003 2007</span>
            </li>
            <li>
                <span>تعمل فى تصميم برامج التدريب للشركات والمؤسسات</span>
            </li>
            <li>
                <span>عملت كمعيدة &nbsp;بقسم علم الاجتماع والانثروبولوجيا بالجامعة الأمريكية</span>
            </li>
            <li>
                <span>ولها نشاطات فى الشأن السورى وشئون الاجئين السوريون حيث عملت &nbsp;كمنسق عام بين جمعية " رسالة " &nbsp;&nbsp;&nbsp;و المفوضية العامة &nbsp;لشؤون اللاجئين السوريين</span>
            </li>
        </ul>
        &nbsp;
        <h2>رند هيثم المالح:</h2>
        <p>&nbsp;معيد مقرر
            <strong>المنظمات الدولية</strong>
        </p>
        <ul>
            <li>
                <span>حاصل على ماجستير العلوم السياسية</span>
            </li>
            <li>
                <span>يقوم حاليا بعمل دراسة الدكتوراه فى العلوم السياسية جامعة الفاتح بإسطنبول</span>
            </li>
            <li>
                <span>حاصل على بكالريوس فى الصيدلة</span>
            </li>
            <li>
                <span>خريج أكاديمية إعداد القادة د. طارق السويدان</span>
            </li>
            <li>
                <span>يعمل كمدرس جامعى &nbsp;لمواد الأحزاب السياسية، العلاقات الدولية، سياسات الشرق الأوسط</span>
            </li>
            <li>
                <span>كما عمل فى إدارة عدد من الفرق التطوعية والأندية الإجتماعية والشبابية لعدد من السنوات.</span>
            </li>
            <li>
                <span>تنظيم عدد من الأنشطة الجماهيرية والثقافية والإجتماعية بحضور آلاف الأشخاص.</span>
            </li>
            <li>
                <span>إداري سابق في نادي صدى الشباب التابع لرابطة الطلاب المسلمين في الجامعة اللبنانية الدولية.</span>
            </li>
        </ul>
        &nbsp;
        <h2>مها أيمن:</h2>
        <p>معيدة &nbsp;مقرر
            <strong>مدخل علم الاقتصاد</strong>
        </p>
        <ul>
            <li>
                <span>حاصلة على بكاليريوس العلوم من كلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
            </li>
            <li>
                <span>حاصلة على ماجيستير فى الاقتصاد</span>
            </li>
            <li>
                <span>عملت كباحثة إقتصادية &nbsp;فى فريق البحث المصرى ببرنامج التغيير الحضارى لـ د. طارق السويدان</span>
            </li>
            <li>
                <span>كما عملت كمنسقة إقتصادية فى مؤسسة (EBDA)، وكباحثة إقتصادية فى قسم الاباث السياسية والاقتصادية فى جريدة الوطن المصرية</span>
            </li>
        </ul>
        <h2>ضحى سمير:</h2>
        <p>معيدة مقرري
            <strong>مدخل علم السياسة</strong>و
            <strong>مناهج البحث العلمى</strong>
            
            </p><ul>
                <li>
                    <span>مدرس مساعد بكلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
                </li>
                <li>
                    <span>بكالريوس العلوم السياسية &nbsp;من كلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
                </li>
                <li>
                    <span>حاصلة على ماجستير النظم السياسية المقارنة من الجامعة المريكية بالقاهرة</span>
                </li>
                <li>
                    <span>حاصلة على دبلوم السياسات العامة والادارة العامة من الجامعة الأمريكية</span>
                </li>
            </ul>
            &nbsp; &nbsp;

        <p class="d-divider"></p>
            
    </div>
</section>