@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    background: #e9eae2;
}
body {
    line-height: 1;
    font-family: 'Droid Arabic Kufi', serif;
    color: #2f2f2f;
    background: #e9eae2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*real meat*/

.content-wrapper {
    padding-bottom: 0;
}
#content {
    background: #e9eae2;
}
.landing-page {
    width: 100%;
    background: #e9eae2;
}
.upper-part {
    width: 100%;
    background: url("../images/home-cover.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;
}
.big-branding {
    /*height: 280px;*/
    padding-top: 30px;
}
.users-actions .register, .users-actions .login {
    margin-left: 10px;
    padding: 7px 15px;
    border: 1px solid #b6b6b6;
}
.users-actions .register:hover, .users-actions .login:hover {
    text-decoration: none;
    background-color: #D2DEE4;
    border: 1px solid #A1CBDF;
}
.big-logo {
    width: 450px;
    /*height: 155px;*/
    margin: 0 auto;
}
.big-logo > img {
    /*width: 387px;*/
    height: 100px;
}
.big-branding .messages-cards {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    height: 60px !important;
    overflow: hidden;
}
.big-branding .messages-cards h1 {
    padding-bottom: 20px;
    padding-top: 10px;
    color: #fff;
    letter-spacing: -1px;
    font-size: 24px;
}
.navigation {
    background: #addadd;
    height: 80px;
}
.navigation-container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.navigation-logo, .navigation-logo > img {
    width: 100px;
    position: absolute;
    right: -30px;
    top: 5px;
}
.header-horizontal-menu {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.header-horizontal-menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
    height: 100%;
}
.header-horizontal-menu ul li {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
    height: 100%;
}
.header-horizontal-menu ul li a {
    display: block;
    margin: 0;
    padding: 30px 15px 0;
    background: #f8faf9;
    color: #4e4f47;
    text-decoration: none;
    line-height: 1.3em;
    height: 100%;
}
.header-horizontal-menu ul li a:hover, .header-horizontal-menu ul li a:focus {
    background: firebrick;
    color: #fff;
}
.news-scroller {
    text-align: center;
    font-size: 14px;
    height: 30px !important;
    overflow: hidden;
}
.news-scroller h1 {
    padding-bottom: 10px;
}
.lower-part {
    width: 100%;
    height: 100%;
    background: #7dd5c9;
}
.branding-section {
    /*height: 300px;*/
    background: #f5f5f5;
    /*border-bottom: 1px solid;*/
}
.branding-section.vision {
    background: #fff;
    /*height: 400px;*/
    padding: 10px 0;
}
.branding-section.vision > h2 {
    font-size: 24px;
    margin: 50px 0;
}
.play-yt {
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    position: relative;
    margin: 0 auto;
}
.play-yt:hover:after {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.play-yt:hover {
    border: 2px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.play-yt:after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 28px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
}
#player {
    display: none;
}
.call-to-action-section {
    background: #1b273f;
    /*height: 280px;*/
    padding: 30px 0 0;
    overflow: hidden;
}
.course-cards {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 120px !important;
}
.course-cards .card {
    height: 250px;
    width: 48%;
    margin-left: 3.5%;
    margin-right: 0;
    margin-bottom: 2%;
    padding-right: 0;
    float: right;
    background: #1b273f;
    border-radius: 5px;
    position: relative;
}
.course-cards .card:nth-child(2n+2) {
    margin-left: 0;
}
.course-cards .card a {
    height: 100%;
}
.course-cards .card a img {
    width: 100%;
    height: 250px;
    border-radius: 5px !important;
}
.course-cards .card a h4 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 20px;
    line-height: 1.1;
    padding: 10px 10px;
    border-radius: 0 0 5px 0;
}
.browse-courses {
    width: 330px;
    margin: 0 auto;
}
.browse-courses > .button {
    width: 300px;
    padding: 10px;
    margin: 15px;
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
}
.browse-courses > .button:hover {
    outline: none;
    text-decoration: none;
    color: #fff;
}
.section-title {
    background: #f8c255;
    width: 25%;
    height: 100%;
    position: relative;
}
.section-title.right {
    float: right;
}
.section-content {
    width: 60%;
}
.section-content.right {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
.section-title > div {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: 230px;
}
.section-title > div > img {
    width: 150px;
}
.section-title > div > h3 {
    text-align: center;
    /*border: 1px solid #6f6f6f;*/
    display: inline-block;
    font-size: 30px;
    padding: 15px;
    position: relative;
    left: 30px;
}
.section-content.right .slick-slider {
    margin-bottom: 10px;
}
.branding-section.staff {
    height: 300px;
}
.staff-cards {
    width: 100%;
}
.staff-cards .card {
    height: 250px;
    margin: 0 10px;
    /*background: #fff;*/
}
.staff-cards .card .photo {
    width: 220px;
    height: 100%;
    /*margin-right: 10px;*/
    float: right;
}
.staff-cards .card .photo img {
    width: 220px;
}
.staff-cards .card .about {
    float: right;
    width: 540px;
    height: 100%;
    margin-right: 10px;
    padding-bottom: 50px;
}
.staff-cards .card .about > .name {
    font-size: 30px;
    margin-bottom: 20px;
}
.staff-cards .card .about > p {
    text-align: center;
    font-size: 14px;
    line-height: 1.6em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}
[dir="rtl"] .staff-cards .slick-next {
    top: 60%;
    right: -25px !important;
}
.vision {
    text-align: center;
    background-color: WhiteSmoke;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
    /* ie 6/7 */
}
.quote {
    height: 250px;
    position: relative;
}
.quote-cite {
    height: 100%;
    position: relative;
    font-size: 24px;
    width: 800px;
    margin: 0 auto;
    line-height: 1.2;
}
.quote-cite:after, .quote-cite:before {
    content: '"';
    font-size: 70px;
    font-family: Arial, serif;
    font-style: italic;
    color: #addadd;
}
.quote-cite:after {
    position: absolute;
    left: 0;
    bottom: 10px;
}
.quote .author {
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 180px;
}
.wrapper-footer {
    height: 200px;
    background: #addadd;
    padding-top: 30px;
}
footer .pages, footer .social {
    list-style: none;
    margin: 10px auto;
}
footer .pages {
    width: 700px;
    margin-bottom: 20px;
}
footer .social {
    width: 300px;
}
footer .pages li, footer .social li {
    display: inline-block;
    margin-left: 20px;
}

.header-container {
    width: 100%;
    background: #fff;
    height: 69px;
    overflow: hidden;
}

.header-inner {
    width: 1080px;
    margin: 0 auto;
}

.header-inner .logo {
    float: right;
}

.header-inner .logo img{
    width: 300px;
}

.header-horizontal-menu {
    width: auto;
}

.header-horizontal-menu ul {
    position: static;
}

.header-horizontal-menu ul li {
    position: static;
}

.header-horizontal-menu ul li a {
    padding: 25px 10px;
    font-size: 14px;
    background: #fff;
    color: #1d9dd9;
}

.header-horizontal-menu ul li a:hover, 
.header-horizontal-menu ul li a:focus {
    background: #1d9dd9;
    color: #fff;
    text-decoration: none;
}

.join-cta {
    width: 130px;
    margin: 80px auto 0 auto;
}
 
.join-cta .register {
    padding: 5px 30px;
    background: #1C5D91;
    color: #fff;
}

.video-player iframe {
    float: left;
}

#vision h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 30px;
}

.news-scroller h1 {
    padding: 10px;
    letter-spacing: -1px;
    font-size: 18px;
}

.news-scroller {
    margin: 30px 0;
}

.course-cards {
    width: 100%;
}

.course-cards .card {
    width: 32%;
    margin-right: 1%;
    margin-left: 0;
    border-radius: 0;
}

footer .pages {
    width: 650px;
}

footer .social {
    width: 147px;
}

.course-cards .card a img {
    border-radius: 0 !important;
}

.course-cards .card a h4 {
    border-radius: 0;
    width: 100%;
}

