.holy-wrapper {
    background: #efeddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.thin-side {
    background: #fff;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
}

.thin-side .logo {
    background: #efedde;
}

.thin-side .logo img {
    width: 55px;
    margin: 0 auto;
    padding: 10px 5px;
    
}

.shadow-right {
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

h1.logo {
    margin-bottom: 0;
}

.thin-side nav > ol > li {
    min-height: 60px;
    height: 60px;
    width: 100%;
    font-size: 12px !important;
    text-align: center;
    border-bottom: 1px solid #efedde;
}

.thin-side nav > ol > li a {
    height: 100%;
    display: block;
    text-align: center;
}

.thin-side a.menu-link {
    padding-top: 20px;
    font-size: 12px !important;
}

.user .avatar {
    
}

.user .avatar img {
    width: 50px;
    margin: 0;
    padding: 10px;
}

.user .settings {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.user .settings li a {
    padding-bottom: 10px;
}
.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.thin-side .item {
    display: block;
    height: 80px;
}
.content-wrapper {
    color: rgb(102, 102, 102);
    background: #efedde;
    position: absolute;
    left: 70px;
    top: 0;
    bottom: 0;
    right: 0;
/*    display: flex;*/
    padding-bottom: 0;
    width: auto !important;
    overflow-y: auto;
}

.global-course-title {
    margin-bottom: 0;
    padding: 20px 20px 0;
}

.chat-wrapper {
    background: #57543e;
    position: absolute;
    width: 70px;
    top: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 0;
}

.dashboard-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.x-panel {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}

.x-panel--stretch-left {
    left: 0;
}

.x-panel--stretch-right {
    right: 0;
}

.settings-panel {
    width: 200px;
    z-index: 10000;
}



.content-panel {
    width: 500px;
    left: 200px;
    z-index: 1000;
}

.dashboard-nav {
/*     margin: 20px;*/
}

.dashboard-nav__item {
    padding: 20px;
    border-bottom: solid 1px #ebebeb;
}

.dashboard-nav__item > a {
    display: block
}

.my-courses {
    background: #fafafa;
}

.my-courses .listing-courses {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.my-courses .listing-courses .course-item {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 700ms;
}

.my-courses .listing-courses .course-item:hover {
    box-shadow: 0px 1px 1px 0px rgb(72, 156, 255)
}

.my-courses .listing-courses .course-item .cover img {
    height: 150px;
    display: block;
}

.my-courses .listing-courses .course-item .info {
    background: #fafafa;
    padding: 10px;
}

.my-courses .listing-courses .course-item .info .university {
    display: none;
}

.my-courses .listing-courses .course-item .info .date-block {
    color: #888;
}

.my-courses .listing-courses .course-item .info h3 {
    font-size: 20px;
    padding: 0 0 15px;
}

.my-courses .listing-courses .course-item .enter-course {
    display: none;
}

.my-courses .listing-courses .course-item .unenroll,
.my-courses .listing-courses .course-item .email-settings {
    font-size: 12px;
    border: 1px solid #eaeaea;
    padding: 3px;
    margin-right: 10px;
    border-radius: 3px;
    outline: 0;    
    color: #909090;
}

.my-courses .listing-courses .course-item .due-amount {
    font-size: 14px;
    color: #909090;
    margin-right: 10px;
}

.my-courses .listing-courses .course-item .payment-action {
    font-size: 12px;
    border: 1px solid;
    padding: 3px;
    margin-right: 10px;
    border-radius: 3px;
}






