.content-wrapper {
    background: #ebebeb;
    color: rgb(102, 102, 102);
}

.holy-wrapper {
    background: #efeddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.thin-side {
    background: #fff;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
}

.thin-side .logo {
    background: #eaeaea;
}

.thin-side .logo img {
    width: 55px;
    margin: 0 auto;
    padding: 10px 5px;
    
}

.shadow-right {
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

h1.logo {
    margin-bottom: 0;
}

.thin-side nav > ol > li {
    min-height: 60px;
    height: 60px;
    width: 100%;
    font-size: 12px !important;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.thin-side nav > ol > li a {
    height: 100%;
    display: block;
}

.thin-side a.menu-link {
    padding-top: 20px;
    font-size: 12px !important;
}

.user .avatar {
    
}

.user .avatar img {
    width: 50px;
    margin: 0;
    padding: 10px;
}

.user .settings {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.user .settings li a {
    padding-bottom: 10px;
}
.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.thin-side .item {
    display: block;
    height: 80px;
}
.content-wrapper {
    background: #ebebeb;
    position: absolute;
    left: 70px;
    top: 0;
    bottom: 0;
    right: 0;
/*    display: flex;*/
    padding-bottom: 0;
}

.dashboard-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.x-panel {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}

.x-panel--stretch-left {
    left: 0;
}

.x-panel--stretch-right {
    right: 0;
}

.settings-panel {
    width: 200px;
    z-index: 10000;
}



.content-panel {
    width: 500px;
    left: 200px;
    z-index: 1000;
}

.dashboard-nav {
/*     margin: 20px;*/
}

.dashboard-nav__item {
    padding: 20px;
    border-bottom: solid 1px #ebebeb;
}

.dashboard-nav__item > a {
    display: block
}